<div class="container">
  <h4 class="mt-3 ml-1 mb-3 titulo-page text-center"> Cadastrar Linhas de Ônibus</h4>
  <div class="card text-primary shadow-sm bg-white rounded" style="width: 40vw; margin: 0 auto">
    <div class="card-body">
      <%= simple_form_for [@company, @travel_line] do |f| %>
        <div class="d-flex justify-content-between">
          <div class="form-inputs" style="width: 48%">
            <%= f.association :company, label: "Empresa", collection: Company.all, label_method: :company_name %>
          </div>
          <div class="form-inputs"  style="width: 48%">
            <%= f.input :identification_number, label: "Linha" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="form-inputs" style="width: 48%">
           <%= f.input :origin, label: "Origem" %>
          </div>
          <div class="form-inputs" style="width: 48%">
            <%= f.input :destination, label: "Destino" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="form-inputs" style="width: 48%">
            <%= f.input :departure_at, label: "Hora de Partida" %>
          </div>
          <div class="form-inputs" style="width: 48%">
            <%= f.input :arrival_at, label: "Hora de Chegada" %>
          </div>
        </div>
        <div class="form-actions text-right">
          <%= f.button :submit, value: "Salvar", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
