<div class="container">
  <table style="width:100%">
    <tr>
      <th>Empresa</th>
      <th>Linha</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Horário de Saída</th>
      <th>Horário de Chegada</th>
      <% if current_user.admin? %>
        <th>Opção</th>
      <% end %>
    </tr>
    <% @travel_lines.each do |travel_line| %>
      <% if current_user.admin? || current_user.police? || travel_line.company.user == current_user %>
        <tr>
          <td><%= travel_line.company.company_name %></td>
          <td><%= travel_line.identification_number %></td>
          <td><%= travel_line.origin %></td>
          <td><%= travel_line.destination %></td>
          <td><%= travel_line.departure_at %></td>
          <td><%= travel_line.arrival_at %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to "Excluir",
                              travel_line_path(travel_line),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
