<% if user_signed_in? %>
    <!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn shadow-sm toggle"><i class="fas fa-caret-left"></i></button>

<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <%# <div>
      <a class="navbar-brand" href="#">
        <p class="logo-sign">BUS<i class="fas fa-search search-nav"></i>ue</p>
      </a>
      </div> %>
      <img src="https://kitt.lewagon.com/placeholder/users/Maykhodr" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <p class="m-0"><%= current_user.email %></p>
        <p class="font-weight-light text-muted mb-0"><%= current_user.role.capitalize %></p>
      </div>
    </div>
  </div>

  <%# <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Principal</p> %>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link text-dark bg-light" do %>
        <i class="fas fa-home mr-3 text-primary fa-fw"></i>Início
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to companies_path, class: "nav-link text-dark" do %>
        <i class="fas fa-bus mr-3 text-primary fa-fw"></i>Empresas
      <% end %>
    </li>
    <!-- Mudei de company_travel_lines_path(:company_id) para travel_lines_path -->
    <li class="nav-item">
      <%= link_to travel_lines_path, class: "nav-link text-dark" do %>
        <i class="fas fa-road mr-3 text-primary fa-fw"></i>Linhas de Ônibus
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to bus_travels_path, class: "nav-link text-dark" do %>
        <i class="fas fa-route mr-3 text-primary fa-fw"></i>Viagens
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to passengers_path, class: "nav-link text-dark" do %>
        <i class="fas fa-users mr-3 text-primary fa-fw"></i>Passageiros
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_passenger_trip_path, class: "nav-link text-dark" do %>
        <i class="fas fa-address-card mr-3 text-primary fa-fw"></i>Cadastrar Passageiro
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_company_path, class: "nav-link text-dark" do %>
        <i class="fas fa-city mr-3 text-primary fa-fw"></i>Cadastrar Empresa
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_travel_line_path, class: "nav-link text-dark" do %>
        <i class="fas fa-project-diagram mr-3 text-primary fa-fw"></i>Cadastrar Linha
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_bus_travel_path, class: "nav-link text-dark" do %>
        <i class="fas fa-suitcase mr-3 text-primary fa-fw"></i>Cadastrar Viagem
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_alert_path, class: "nav-link text-dark" do %>
        <i class="fas fa-exclamation-triangle mr-3 text-primary fa-fw"></i>Cadastrar Suspeita
      <% end %>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
        <i class="fa fa-bell mr-3 text-primary fa-fw"></i>
        Alertas
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Diário
      </a>
    </li>
    <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
        <i class="fas fa-sign-out-alt mr-3 text-primary fa-fw"></i>Sair
      <% end %>
    </li>
  </ul>
</div>
<% end %>
