<div class="container mt-5">
  <table style="width:100%">
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>CPF</th>
      <th>Natureza do Alerta</th>
      <th>Descrição</th>
    </tr>
    <% @alerts.each do |alert| %>
         <tr data-link="<%= passenger_path(alert.passenger) %>">
            <td><%= alert.passenger.full_name.titleize %></td>
            <td><%= alert.passenger.date_of_birth %></td>
            <td><%= alert.passenger.formatted_cpf %></td>
            <td><%= alert.felony %></td>
            <td><%= alert.description %></td>
            <!-- <td class="text-primary"> -->
              <%#=# link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                              # alert_path(alert),
                              # method: :destroy,
                              # data: { confirm: "Are you sure?" } %>
            <!-- </td> -->
        </tr>
    <% end %>
  </table>
</div>

