<div class="container">
<h3 class="titulo-page">Cadastrar Suspeita</h3>
  <div>
    <%= simple_form_for(@passenger) do |f| %>
      <%= f.input :full_name, label: "Nome Completo" %>
      <%= f.input :date_of_birth, label: "Data de Nascimento", order: [:day, :month, :year], include_blank: true, start_year: Date.today.year - 120, end_year: Date.today.year %>
      <%= f.input :gender, :collection => ["Feminino", "Masculino", "Não Informado"],
                label: "Gênero" %>
      <%= f.input :cpf, label: "CPF" %>
      <%= f.input :identification_number, label: "RG" %>
      <%= f.input :identification_state, label: "UF" %>
  </div>

    <div class="form-inputs">
      <%= f.simple_fields_for :alert do |alert_form| %>
        <%= alert_form.input :felony, :collection => ["Contrabando",
                                            "Descaminho",
                                            "Crime Ambiental",
                                            "Tráfico de Drogas",
                                            "Tráfico de Armas",
                                            "Tráfico de Pessoas",
                                            "Outros"],
                    :input_html => {:class => 'selectpicker'},
                    :label => 'Natureza',
                    prompt: "Escolha uma opção" %>
        <%= alert_form.input :description, label: "Descrição" %>
        <p><strong>Nível de alerta</strong></p>
        <%= alert_form.collection_radio_buttons :level, [['yellow', 'Amarelo'] ,['red', 'Vermelho']], :first, :last %>
      <% end %>
    </div>
    <div class="form-actions text-right">
       <%= f.button :submit, value: "Salvar", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
