<div class="container">
  <div>
    <h4 class="mt-5 ml-1 mb-3 titulo-page text-center"> Cadastrar Suspeita</h4>
    <div class="card text-primary shadow-sm bg-white rounded" style="width: 35vw; margin: 0 auto">
      <div class="card-body">
        <%= simple_form_for (@passenger) do |f| %>

          <div style="width: 100%">
            <%= f.input :full_name, label: "Nome Completo" %>
          </div>

          <div class="d-flex justify-content-between" style="width: 100%">
            <div style="width: 66%">
              <!-- <span class="d-flex flex-row align-items-center"> -->
              <%= f.input :date_of_birth, label: "Data de Nascimento", order: [:day, :month, :year], include_blank: true, start_year: Date.today.year - 100, end_year: Date.today.year %>
              <!-- </span> -->
            </div>
            <div style="width: 30%">
              <%= f.input :gender, :collection => ["Feminino", "Masculino", "Não Informado"],
                        label: "Gênero" %>
            </div>
          </div>

          <div class="d-flex justify-content-between" style="width: 100%">
            <div style="width: 37%">
              <%= f.input :cpf, label: "CPF", maxlength: "14", input_html: { class: 'cpf'} %>
            </div>
            <div style="width: 37%">
              <%= f.input :identification_number, label: "RG", maxlength: "10" %>
            </div>
            <div style="width: 15%">
              <%=f.input :identification_state,
                      :collection => %w[AC AL AP AM BA CE ES GO MA MT MS MG PA PB PR PE PI RJ RN RS RO RR SC SP SE TO DF],
                      label: "UF" %>
            </div>
          </div>

          <div class="form-inputs">
            <%= f.simple_fields_for :alert do |alert_form| %>
              <div style="width: 100%">
                <%= alert_form.input :felony, :collection => ["Contrabando",
                                                    "Descaminho",
                                                    "Crime Ambiental",
                                                    "Tráfico de Drogas",
                                                    "Tráfico de Armas",
                                                    "Tráfico de Pessoas",
                                                    "Outros"],
                            :input_html => {:class => 'selectpicker'},
                            :label => 'Natureza',
                            prompt: "Escolha uma opção" %>
              </div>

              <div style="width: 100%;">
                <%#= alert_form.input :description, label: "Descrição", input_html: {style: "border-color: #333; height: 150px"} %>
                <%= alert_form.input :description, as: :text, label: "Descrição", input_html: {style: "height: 100px"} %>

              </div>

                <p class="mt-2"><strong>Nível de Prioridade</strong></p>
                <%= alert_form.input :level, as: :radio_buttons, collection: [['yellow', 'Médio'] ,['red', 'Alto']], label_method: :second, value_method: :first, wrapper: :horizontal_collection_inline, label: false %>
            <% end %>
          </div>

          <label class="btn btn-primary btn-sm">
            Adicionar arquivo
            <span style="display:none;">
              <%= f.input :photo, as: :file, label: false %>
            </span>
          </label>
          <br>

          <div class="form-actions mt-2" style="display: flex; justify-content: space-between;">
            <%= link_to 'Voltar', 'javascript:history.go(-1);', :class => "btn btn-primary btn-sm" %>
            <%= f.button :submit, value: "Salvar", :class => "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

