<div class="container">
  <table style="width:100%">
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Gênero</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Estado</th>
      <!-- <th>Poltrona</th> -->
      <!-- <th>Local de Desembarque</th> -->
    </tr>
    <% @passengers.each do |passenger| %>
         <tr>
            <td><%= link_to passenger.full_name, passenger_path(passenger) %></td>
            <td><%= passenger.date_of_birth %></td>
            <td><%= passenger.gender %></td>
            <td><%= passenger.cpf %></td>
            <td><%= passenger.identification_number %></td>
            <td><%= passenger.identification_state %></td>
            <td><%#= passenger_trip.seat %></td>
            <td><%#= passenger_trip.arrival_spot %></td>
            <td>
              <%= link_to "Excluir",
                              passenger_path(passenger),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
            </td>
        </tr>
    <% end %>
  </table>
</div>

