<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div>
      <%= form_tag passengers_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Pesquisar"
        %>
    </div>
    <div>
      <%= button_tag do %>
      <i class="fas fa-search"></i>
      <% end %>
      <% end %>
    </div>
  </div>

  <table style="width:100%">
    <tr class="text-primary">
      <th><i class="fas fa-user"></i>Nome</th>
      <th><i class="far fa-calendar-alt"></i>Data de Nascimento</th>
      <th><i class="fas fa-venus-mars"></i>Gênero</th>
      <th><i class="fas fa-fingerprint"></i>CPF</th>
      <th><i class="far fa-id-card"></i>RG</th>
      <th><i class="fas fa-globe-americas"></i>Estado</th>
      <th><i class="fas fa-tools"></i>Opções</th>
    </tr>
    <% @passengers.each do |passenger| %>
      <tr data-link="<%= passenger_path(passenger) %>">
        <td><%= passenger.full_name %></td>
        <td><%= passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
        <td><%= passenger.gender %></td>
        <td><%= passenger.cpf %></td>
        <td><%= passenger.identification_number %></td>
        <td><%= passenger.identification_state %></td>
        <td class="text-primary"><i class="fas fa-trash-alt"></i>
          <%= link_to "Excluir",
                          passenger_path(passenger),
                          method: :delete,
                          data: { confirm: "Você tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </table>
</div >
<div class="digg_pagination mt-3 d-flex justify-content-center  ">
    <%= will_paginate @passengers, :container => false %>
</div>
