<div class="container">
  <h3>Dados do Passageiro</h3>
  <table style="width:100%">
    <tr class="text-primary">
      <th><i class="fas fa-user"></i>Nome</th>
      <th><i class="far fa-calendar-alt"></i>Data de Nascimento</th>
      <th><i class="fas fa-venus-mars"></i>Gênero</th>
      <th><i class="fas fa-fingerprint"></i>CPF</th>
      <th><i class="far fa-id-card"></i>RG</th>
      <th><i class="fas fa-globe-americas"></i>Estado</th>
    </tr>
      <td><%= @passenger.full_name %></td>
      <td><%= @passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
      <td><%= @passenger.gender %></td>
      <td><%= @passenger.cpf %></td>
      <td><%= @passenger.identification_number %></td>
      <td><%= @passenger.identification_state %></td>
    </tr>
  </table>
    <h3>Últimas Viagens</h3>
  <table>
    <tr class="text-primary">
      <th><i class="fas fa-bus"></i>Empresa</th>
      <th><i class="fas fa-road"></i>Linha</th>
      <th><i class="fas fa-map-marked"></i>Origem</th>
      <th><i class="fas fa-calendar-alt"></i>Data Partida</th>
      <th><i class="fas fa-clock"></i>Horário Partida</th>
      <th><i class="fas fa-map-marked-alt"></i>Destino</th>
      <th><i class="far fa-calendar-alt"></i>Data Chegada</th>
      <th><i class="far fa-clock"></i>Horário Chegada</th>
      <th><i class="fas fa-couch"></i>Poltrona</th>
      <th><i class="fas fa-suitcase-rolling"></i>Local de Desembarque</th>
    </tr>
    <% @passenger_trips.each do |passenger_trip| %>
      <tr data-link="<%= bus_travel_path(passenger_trip.bus_travel) %>">
        <td><%= passenger_trip.bus_travel.travel_line.company.company_name %></td>
        <td><%= passenger_trip.bus_travel.travel_line.identification_number %></td>
        <td><%= passenger_trip.bus_travel.travel_line.origin %></td>
        <td><%= passenger_trip.bus_travel.departure_on.strftime("%d/%m/%Y") %></td>
        <td><%= passenger_trip.bus_travel.travel_line.departure_at %></td>
        <td><%= passenger_trip.bus_travel.travel_line.destination %></td>
        <td><%= passenger_trip.bus_travel.arrival_on.strftime("%d/%m/%Y") %></td>
        <td><%= passenger_trip.bus_travel.travel_line.arrival_at %></td>
        <td><%= passenger_trip.seat %></td>
        <td><%= passenger_trip.arrival_spot %></td>
      </tr>
    <% end %>
  </table>

  <% if current_user.admin? || current_user.police? %>
    <h3>Ocorrências</h3>
    <table>
      <tr class="text-primary">
        <th><i class="fas fa-bus"></i>Natureza</th>
        <th><i class="fas fa-road"></i>Descrição</th>
        <th><i class="fas fa-map-marked"></i>Nível</th>
        <th><i class="fas fa-calendar-alt"></i>Solucionado</th>
      </tr>
      <% @passenger.alerts.each do |alert| %>
        <tr>
          <td><%= alert.felony %></td>
          <td><%= alert.description %></td>
          <td><%= alert.level %></td>
          <td><%= alert.solved %></td>
        </tr>
      <% end %>
    </table>
  <% end %>


  <div class="btn-voltar mt-2">
    <%= link_to 'Voltar', 'javascript:history.go(-1);', :class => "btn btn-primary btn-sm" %>
  </div>
</div>
