<div class="container">
  <h4 class="mt-5 ml-1"> Dados do Passageiro</h4>

  <div class="d-flex">
    <div class="card text-primary shadow-sm bg-white rounded flex-fill">
      <div class="card-body">
        <table style="width:100%">
          <tr class="text-primary">
            <!-- <th><i class="fas fa-camera ml-2" style="font-size: 25px;"></i></th> -->
            <th><i class="fas fa-user"></i>Nome</th>
            <th class="text-center"><i class="far fa-calendar-alt"></i>Data de Nascimento</th>
            <th class="text-center"><i class="fas fa-venus-mars"></i>Gênero</th>
            <th class="text-center"><i class="fas fa-fingerprint"></i>CPF</th>
            <th class="text-center"><i class="far fa-id-card"></i>RG</th>
            <th class="text-center"><i class="fas fa-globe-americas"></i>Estado</th>
          </tr>
            <%# unless @passenger.photo.nil? %>
          <tr>
            <td><%= @passenger.full_name.titleize %></td>
            <td class="text-center"><%= @passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
            <td class="text-center"><%= @passenger.gender %></td>
            <td class="text-center"><%= @passenger.formatted_cpf %></td>
            <td class="text-center"><%= @passenger.identification_number %></td>
            <td class="text-center"><%= @passenger.identification_state %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card text-primary shadow-sm bg-white rounded" style="width: 7vw; margin-left: 20px">
      <div class="card-body passenger-img">
        <% if @passenger.photo.attached? %>
          <%= cl_image_tag @passenger.photo.key %>
        <% else %>
          <% if @passenger.gender == "Feminino" %>
            <%= image_tag "https://cdn3.vectorstock.com/i/thumb-large/74/62/person-gray-photo-placeholder-woman-vector-23237462.jpg" %>
          <% else %>
            <%= image_tag "https://coenterprises.com.au/wp-content/uploads/2018/02/male-placeholder-image.jpeg" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.admin? || current_user.police? %>
    <h4 class="mt-5 ml-1"> Alertas <%= link_to '<i class="fas fa-plus-circle btn-light"></i>'.html_safe, new_passenger_alert_path(@passenger) %></h4>
    <div class="card text-primary shadow-sm pb-3 bg-white rounded">
    <div class="card-body">
        <% if @passenger.alerts.empty? %>
          <div class="pt-3" style="text-align: center">
            <th>
              <strong><%= @passenger.full_name.split.first %></strong>
              <strong><%= @passenger.full_name.split.last %></strong>
              não possui alerta cadastrado.
            </th>
          </div>
        <% else %>
          <table>
            <tr class="text-primary">
              <th><i class="fas fa-bus"></i>Natureza</th>
              <th><i class="fas fa-road"></i>Descrição</th>
              <th><i class="fas fa-calendar-alt"></i>Status</th>
            </tr>
              <% @passenger.alerts.each do |alert| %>
                <% if alert.level == 'red' %>
                  <tr class="table-danger">
                <% else %>
                  <tr class="table-warning">
                <% end %>
                <td><%= alert.felony %></td>
                <td><%= alert.description %></td>
                <% if alert.solved? %>
                  <td><%= "Solucionado" %></td>
                <% else %>
                  <td><%= "Não Solucionado" %></td>
                <% end %>
                <% if current_user == alert.user || current_user.admin? %>
                    <td class="text-primary" style="background-color: white; border-bottom: white; text-align: center">
                      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                                      alert_path(alert),
                                      method: :delete,
                                      data: { confirm: "Você tem certeza?" } %>
                <% end %>
                </tr>
              <% end %>
          </table>
        <% end %>
      </div>
    </div>
  <% end %>
<!--  <div class="btn-voltar mt-2">
        <%= link_to 'Cadastrar Alerta', new_passenger_alert_path(@passenger), :class => "btn btn-primary btn-sm" %>
        <%#= link_to 'Criar Alerta', edit_passenger_path(@passenger), :class => "btn btn-primary btn-sm" %>
      </div>
  -->

  <h4 class="mt-5 ml-1"> Histórico de Viagens</h4>
  <div class="card shadow-sm pb-3 bg-white rounded">
    <div class="card-body">
      <% if @passenger.passenger_trips.empty? %>
        <div class="pt-3" style="text-align: center">
          <th>
            <strong><%= @passenger.full_name.split.first %></strong>
            <strong><%= @passenger.full_name.split.last %></strong>
            não possui viagem cadastrada.
          </th>
        </div>
      <% else %>
        <table>
          <tr class="text-primary">
            <th><i class="fas fa-bus"></i>Empresa</th>
            <th><i class="fas fa-road"></i>Linha</th>
            <th><i class="fas fa-map-marked"></i>Origem</th>
            <th><i class="fas fa-calendar-alt"></i>Data Partida</th>
            <th><i class="fas fa-clock"></i>Horário Partida</th>
            <th><i class="fas fa-map-marked-alt"></i>Destino</th>
            <th><i class="far fa-calendar-alt"></i>Data Chegada</th>
            <th><i class="far fa-clock"></i>Horário Chegada</th>
            <th><i class="fas fa-couch"></i>Poltrona</th>
            <th><i class="fas fa-suitcase-rolling"></i>Local de Desembarque</th>
          </tr>
          <% @passenger_trips.each do |passenger_trip| %>
            <tr data-link="<%= bus_travel_path(passenger_trip.bus_travel) %>">
              <td><%= passenger_trip.bus_travel.travel_line.company.company_name %></td>
              <td><%= passenger_trip.bus_travel.travel_line.identification_number %></td>
              <td><%= passenger_trip.bus_travel.travel_line.origin %></td>
              <td class="text-center"><%= passenger_trip.bus_travel.departure_on.strftime("%d/%m/%Y") %></td>
              <td class="text-center"><%= passenger_trip.bus_travel.travel_line.departure_at %></td>
              <td><%= passenger_trip.bus_travel.travel_line.destination %></td>
              <td class="text-center"><%= passenger_trip.bus_travel.arrival_on.strftime("%d/%m/%Y") %></td>
              <td class="text-center"><%= passenger_trip.bus_travel.travel_line.arrival_at %></td>
              <td class="text-center"><%= passenger_trip.seat.to_s.rjust(2, '0') %></td>
              <td><%= passenger_trip.arrival_spot %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="btn-voltar mt-2">
    <%= link_to 'Voltar', 'javascript:history.go(-1);', :class => "btn btn-primary btn-sm" %>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
