<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <p class="logo-sign">BUS<i class="fas fa-search fa-xs"></i>ue</p>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://profissaopilates.com.br/wp-content/uploads/2019/03/avatar-icon.png" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<br><br><br>
<div class="login-page mt-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 m-auto col-sm-8 col-12">
				<div class="log-box">
					<div class="row">
						<div class="col-xl-5 col-sm-5 col-12 pad-right-0">
							<div class="logo-back">
								<i class="fas fa-bus-alt fa-10x"></i>
                <p>Sistema de Cadastro de Passageiros</p>
							</div>
						</div>
						<div class="col-xl-7 col-sm-7 col-12 pad-left-0">
							<div class="log-content">
								<h1 class="text-center mb-4 mt-4"><p class="logo-sign">BUS<i class="fas fa-search fa-xs"></i>ue</p></h1>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" },
                                placeholder: "Digite seu e-mail",
																label: "E-mail" %>
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" },
                                placeholder: "Digite sua senha",
																label: "Senha" %>
                    <%= f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="log-btn text-center">
                    <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
                    <p><%= render "devise/shared/links" %></p>
                  </div>
                <% end %>
                  
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>