<div class="home-busque">
  <div class="home-logo">
    <img src="https://sicop.prf.gov.br/sicop/PRF-brasao.png" width="80" height="94">
    <h1>Sistema de Controle<br>de Passageiros</h1>
  </div>
  <div class="form-home">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Digite seu e-mail",
                    label: "E-mail" %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "Digite sua senha",
                    label: "Senha" %>
        <%= f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="log-btn text-center">
        <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
        <p><%= render "devise/shared/links" %></p>
      </div>
    <% end %>
  </div>
</div>


<!-- <br><br><br>
<div class="login-page mt-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 m-auto col-sm-8 col-12">
				<div class="log-box">
					<div class="row">
						<div class="col-xl-5 col-sm-5 col-12 pad-right-0">
							<div class="logo-back">
								<i class="fas fa-bus-alt fa-10x"></i>
                <p>Sistema de Cadastro<br> de Passageiros</p>
							</div>
						</div>
						<div class="col-xl-7 col-sm-7 col-12 pad-left-0 log-content">
							<div class="log-content">
								<span class="d-flex justify-content-center mb-3 mt-3"><img src="https://i.ibb.co/pnDZ9sr/Logo-BUSque.png" width="200px" alt="Logo-BUSque"></span>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" },
                                placeholder: "Digite seu e-mail",
																label: "E-mail" %>
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" },
                                placeholder: "Digite sua senha",
																label: "Senha" %>
                    <%= f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="log-btn text-center">
                    <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
                    <p><%= render "devise/shared/links" %></p>
                  </div>
                <% end %>

								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
