<div class="container">
  <h3 class="titulo-page">Cadastrar Passageiro</h3>
  <%= simple_form_for [@bus_travel, @passenger_trip] do |f| %>

    <% if params[:travel_line].blank? %>
      <div class="form-inputs">
        <%= f.input :travel_line, as: :fake_select, collection: TravelLine.all.map {|u| ["#{u.identification_number} (#{u.origin} - #{u.destination})", u.id] }, label: "Linha" %>
      </div>
    <% else %>
      <div>
        <%= "Linha #{@travel_line.identification_number} - Origem: #{@travel_line.origin} - Destino: #{@travel_line.destination}" %>
      </div>
      <br>
      <div>
        <%= f.input :bus_travel, collection: @bus_travels, label: "Viagem" %>
      </div>
      <div class="form-inputs">
        <%= f.input :seat, label: "Poltrona" %>
      </div>
      <div class="form-inputs">
      <%= f.input :arrival_spot, :collection => ["Mazagão",
                                       "Maracá",
                                       "Porto Grande",
                                       "Ferreira Gomes",
                                       "Tartarugalzinho",
                                       "Amapá",
                                       "Calçoene",
                                       "Oiapoque",
                                       "Cupixi",
                                       "Pedra Branca",
                                       "Laranjal do Jari",
                                       "Serra do Navio"].sort,
                  :label => 'Local de Desembarque'%>
      </div>

      <div>
        <%= f.simple_fields_for :passenger do |passenger_form| %>
          <%= passenger_form.input :full_name, label: "Nome Completo" %>
          <%= passenger_form.input :date_of_birth, label: "Data de Nascimento" %>
          <%= passenger_form.input :gender, :collection => ["Feminino", "Masculino", "Não Informado"],
                  label: "Gênero" %>
          <%= passenger_form.input :cpf, input_html: { maxlength: 11 }, label: "CPF" %>
          <%= passenger_form.input :identification_number, label: "RG" %>
          <%= passenger_form.input :identification_state,
              :collection => %w[AC AL AP AM BA CE ES GO MA MT MS MG PA PB PR PE PI RJ RN RS RO RR SC SP SE TO DF],
              label: "UF" %>
          <%= passenger_form.input :photo, as: :file %>
        <% end %>
      </div>
    <% end %>

    <div class="form-actions text-right">
       <%= f.button :submit, value: "Enviar", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
