<div class="container">
<h3 class="titulo-page">Lista de Viagens Cadastradas</h3>
  <table style="width:100%">
    <tr class="text-primary">
      <th><i class="fas fa-bus"></i>Empresa</th>
      <th><i class="fas fa-road"></i>Linha</th>
      <th><i class="fas fa-map-marked"></i>Origem</th>
      <th><i class="fas fa-map-marked-alt"></i>Destino</th>
      <th><i class="fas fa-calendar-alt"></i>Data Partida</th>
      <th><i class="fas fa-clock"></i>Horário Partida</th>
      <th><i class="far fa-calendar-alt"></i>Data Chegada</th>
      <th><i class="far fa-clock"></i>Horário Chegada</th>
      <!-- <th><i class="fas fa-tools"></i>Opções</th> -->
    </tr>
    <% @bus_travels.each do |bus_travel| %>
      <tr data-link="<%= bus_travel_path(bus_travel) %>">
          <td><%= bus_travel.travel_line.company.company_name %></td>
          <td><%= bus_travel.travel_line.identification_number %></td>
          <td><%= bus_travel.travel_line.origin %></td>
          <td><%= bus_travel.travel_line.destination %></td>
          <td><%= bus_travel.departure_on.strftime("%d/%m/%Y")%></td>
          <td><%= bus_travel.travel_line.departure_at %></td>
          <td><%= bus_travel.arrival_on.strftime("%d/%m/%Y") %></td>
          <td><%= bus_travel.travel_line.arrival_at %></td>
          <!-- <td class="text-primary"> -->
               <%#= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                            bus_travel_path(bus_travel),
                            method: :delete,
                            data: { confirm: "Você tem certeza?" } %>
          <!-- </td> -->
      </tr>
    <% end %>
  </table>
  <div class="digg_pagination mt-3 d-flex justify-content-center  ">
    <%= will_paginate @bus_travels, :container => false %>
</div>
