<div class="container">
  <h3>
    <%= "#{@bus_travel.travel_line.company.company_name} - \n
     Linha #{@bus_travel.travel_line.identification_number}\n
     (#{@bus_travel.departure_on.strftime("%d/%m/%Y")})" %>
  </h3>
  <h5>
    <%= "Origem: #{@bus_travel.travel_line.origin} (#{@bus_travel.travel_line.departure_at}) - \n" %>
    <%= "Destino: #{@bus_travel.travel_line.destination} (#{@bus_travel.travel_line.arrival_at})" %>
  </h5>


  <table style="width:100%">
    <tr>
    <tr class="text-primary">
      <th><i class="fas fa-user"></i>Nome</th>
      <th><i class="far fa-calendar-alt"></i>Data de Nascimento</th>
      <th><i class="fas fa-venus-mars"></i>Gênero</th>
      <th><i class="fas fa-fingerprint"></i>CPF</th>
      <th><i class="far fa-id-card"></i>RG</th>
      <th><i class="fas fa-globe-americas"></i>Estado</th>
      <th><i class="fas fa-couch"></i>Poltrona</th>
      <th><i class="fas fa-suitcase-rolling"></i>Local de Desembarque</th>
    </tr>
    <% @bus_travel.passenger_trips.each do |passenger| %>
      <tr data-link="<%= passenger_path(passenger) %>">
          <td><%= passenger.passenger.full_name.capitalize %></td>
          <td><%= passenger.passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
          <td><%= passenger.passenger.gender %></td>
          <td><%= passenger.passenger.cpf %></td>
          <td><%= passenger.passenger.identification_number %></td>
          <td><%= passenger.passenger.identification_state.upcase %></td>
          <td><%= passenger.seat %></td>
          <td><%= passenger.arrival_spot %></td>
          <td>
      </tr>
    <% end %>
  </table>
  <div class="btn-voltar mt-2">
    <%= link_to 'Voltar', 'javascript:history.go(-1);', :class => "btn btn-primary btn-sm" %>
  </div>
</div>
