<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h4 class="titulo-page ml-3">
        <%= "#{@bus_travel.travel_line.company.company_name} - \n
        Linha #{@bus_travel.travel_line.identification_number}\n
        (#{@bus_travel.departure_on.strftime("%d/%m/%Y")})" %>
      </h4>
      <h5 class="titulo-page mt-4 ml-3">
        <%= "Origem: #{@bus_travel.travel_line.origin} (#{@bus_travel.travel_line.departure_at}) - \n" %>
        <%= "Destino: #{@bus_travel.travel_line.destination} (#{@bus_travel.travel_line.arrival_at})" %>
      </h5>
    </div>
    <div class="d-flex align-items-center mr-5">
      <button class="btn-printer" id="printPageButton" onClick="window.print();"><i class="fas fa-print"></i></button>
    </div>
  </div>
  <table style="width:100%" class="mt-3">
    <tr class="text-primary">
      <th><i class="fas fa-user"></i>Nome</th>
      <th><i class="far fa-calendar-alt"></i>Data de Nascimento</th>
      <th><i class="fas fa-venus-mars"></i>Gênero</th>
      <th><i class="fas fa-fingerprint"></i>CPF</th>
      <th><i class="far fa-id-card"></i>RG</th>
      <th><i class="fas fa-globe-americas"></i>Estado</th>
      <th><i class="fas fa-couch"></i>Poltrona</th>
      <th><i class="fas fa-suitcase-rolling"></i>Local de Desembarque</th>
      <% if current_user == @bus_travel.travel_line.company.user || current_user.admin? %>
      <th><i class="fas fa-tools"></i>Opções</th>
      <% end %>
    </tr>
    <% if current_user.police? || current_user.admin? %>
      <% @passenger_trips.each do |passenger_trip| %>
        <% if passenger_trip.passenger.alerts.exists? %>
          <% if passenger_trip.passenger.alerts.where(level: 'red').count > 0 %>
            <tr class="table-danger" data-link="<%= passenger_path(passenger_trip.passenger_id) %>">
          <% else %>
            <tr class="table-warning" data-link="<%= passenger_path(passenger_trip.passenger_id) %>">
          <% end %>
        <% else %>
          <tr data-link="<%= passenger_path(passenger_trip.passenger_id) %>">
        <% end %>
          <td><%= passenger_trip.passenger.full_name.titleize %></td>
          <td><%= passenger_trip.passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
          <td><%= passenger_trip.passenger.gender %></td>
          <td><%= passenger_trip.passenger.formatted_cpf %></td>
          <td><%= passenger_trip.passenger.identification_number %></td>
          <td class="text-center"><%= passenger_trip.passenger.identification_state %></td>
          <td class="text-center"><%= passenger_trip.seat.to_s.rjust(2, '0') %></td>
          <td><%= passenger_trip.arrival_spot %></td>
          <% if current_user.admin? %>
            <td class="text-primary">
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                              passenger_trip_path(passenger_trip),
                              method: :delete,
                              data: { confirm: "Você tem certeza?" } %></td>
          <% end %>
          </tr>
      <% end %>
    <% else %>
      <% @passenger_trips.each do |passenger_trip| %>
        <tr data-link="<%= passenger_path(passenger_trip.passenger_id) %>">
          <td><%= passenger_trip.passenger.full_name.titleize %></td>
          <td><%= passenger_trip.passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
          <td><%= passenger_trip.passenger.gender %></td>
          <td><%= passenger_trip.passenger.formatted_cpf %></td>
          <td><%= passenger_trip.passenger.identification_number %></td>
          <td><%= passenger_trip.passenger.identification_state %></td>
          <td><%= passenger_trip.seat.to_s.rjust(2, '0') %></td>
          <td><%= passenger_trip.arrival_spot %></td>
          <td class="text-primary">
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                            passenger_trip_path(passenger_trip),
                            method: :delete,
                            data: { confirm: "Você tem certeza?" } %></td>
        </tr>
        <% end %>
    <% end %>
  </table>
  <div class="digg_pagination mt-5 d-flex justify-content-center  ">
    <%= will_paginate @passenger_trips, :container => false, previous_label: "Anterior", next_label: "Próximo" %>
  </div>
  <div class="d-flex  justify-content-between">
    <div class="btn-voltar mr-3">
      <%= link_to 'Voltar', 'javascript:history.go(-1);', :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
