<div class="container">
  <h3>
    <%= "#{@bus_travel.travel_line.company.company_name} - \n
     Linha #{@bus_travel.travel_line.identification_number}\n
     (#{@bus_travel.departure_on.strftime("%d/%m/%Y")})" %>
  </h3>
  <h5>
    <%= "Origem: #{@bus_travel.travel_line.origin} (#{@bus_travel.travel_line.departure_at}) - \n" %>
    <%= "Destino: #{@bus_travel.travel_line.destination} (#{@bus_travel.travel_line.arrival_at})" %>
  </h5>


  <table style="width:100%">
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Gênero</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Estado</th>
      <th>Poltrona</th>
      <th>Local de Desembarque</th>
    </tr>
    <% @bus_travel.passenger_trips.each do |passenger| %>
      <tr>
          <td><%= passenger.passenger.full_name %></td>
          <td><%= passenger.passenger.date_of_birth.strftime("%d/%m/%Y") %></td>
          <td><%= passenger.passenger.gender %></td>
          <td><%= passenger.passenger.cpf %></td>
          <td><%= passenger.passenger.identification_number %></td>
          <td><%= passenger.passenger.identification_state %></td>
          <td><%= passenger.seat %></td>
          <td><%= passenger.arrival_spot %></td>
          <td>
      </tr>
    <% end %>
  </table>
</div>
